@tailwind base;
@tailwind components;
@tailwind utilities;

/* loader */

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* loader */

/* -------------------------------------------------------------- */

/* progress bars */

/* webkit for chrome and moz for firefox */

progress::-webkit-progress-bar {
  background-color: #475569;
}

progress.visit-progress::-webkit-progress-value {
  background-color: #22c55e;
}

progress.unique-progress::-webkit-progress-value,
progress.new-clients-progress::-webkit-progress-value {
  background-color: #0ea5e9;
}

progress.new-user-progress::-webkit-progress-value,
progress.recurring-clients-progress::-webkit-progress-value,
progress.user-table-odd-progress::-webkit-progress-value {
  background-color: #ef4444;
}

progress::-webkit-progress-bar {
  border-radius: 20px;
}
progress::-webkit-progress-value {
  border-radius: 20px;
}

progress.pageviews-progress::-webkit-progress-value {
  background-color: #eab308;
}

progress.organic-progress::-webkit-progress-value,
progress.user-table-even-progress::-webkit-progress-value {
  background-color: #16a34a;
}

progress {
  background-color: #475569;
  border-radius: 20px;
}

progress.visit-progress::-moz-progress-bar {
  background-color: #22c55e;
}

progress.unique-progress::-moz-progress-bar,
progress.new-clients-progress::-moz-progress-bar {
  background-color: #0ea5e9;
}

progress.new-user-progress::-moz-progress-bar,
progress.recurring-clients-progress::-moz-progress-bar,
progress.user-table-odd-progress::-moz-progress-bar {
  background-color: #ef4444;
}

progress.pageviews-progress::-moz-progress-bar {
  background-color: #eab308;
}

progress.organic-progress::-moz-progress-bar,
progress.user-table-even-progress::-moz-progress-bar {
  background-color: #16a34a;
}

/* progress bars */

/* ------------------------------------------------------------------- */

/* small charts background */

.facebook {
  background-image: url(../public/img/facebook-word-cloud-collage-uubjfuzvldvery4r.jpg);
  background-size: cover;
  background-position: center;
}

.twitter {
  background-image: url(../public/img/twitter.png);
  background-size: cover;
  background-position: center;
}

.linkedin {
  background-image: url(../public/img/linkedin.avif);
  background-size: cover;
  background-position: center;
}

.calendar {
  background-image: url(../public/img/calendar.avif);
  background-size: cover;
  background-position: center;
}

/* small charts  background*/

/* ----------------------------------------------------------------------- */

/* accardion styles in sidebar */
.accordion-enter {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition:
    max-height 300ms ease-out,
    opacity 300ms ease-out;
}

.accordion-enter-active {
  max-height: 100px; /* Adjust as needed */
  opacity: 1;
}

.accordion-exit {
  max-height: 100px; /* Adjust as needed */
  opacity: 1;
  overflow: hidden;
  transition:
    max-height 300ms ease-in,
    opacity 300ms ease-in;
}

.accordion-exit-active {
  max-height: 0;
  opacity: 0;
}

/* accardion styles in sidebar */
